<ion-view view-title="Book List">
    <ion-content>
        <ul class="list">
            <li  class="item" ui-sref="book({id:item.id})" ng-repeat="item in books">
                {{item.name}}
            </li>
        </ul>
    </ion-content>
</ion-view>
