<!--Book Details View -->
<ion-view view-title="{{book.name}}">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                Book Id
            </div>
            <div class="col">
                {{book.id}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Author
            </div>
            <div class="col">
                {{book.author}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Series

            </div>
            <div class="col">
                {{book.series}}
            </div>

        </div>
        <div class="row">
            <div class="col">
                Pages

            </div>
            <div class="col">
                {{book.pages}}
            </div>

        </div>
        <div class="row">
            <div class="col">
                Genre

            </div>
            <div class="col">
                {{book.genre}}
            </div>

        </div>
        <div class="row">
            <div class="col">
                Price

            </div>
            <div class="col">
                {{book.price}}
            </div>
        </div>
    </ion-content>
</ion-view>
