<!-- Help Page-->
<ion-view view-title="Help">
    <ion-content>
        <div class="list card">

            <div class="item item-body">
                This application enables user to search and browse books through the Book List
            </div>
        </div>
    </ion-content>
</ion-view>

