<!-- Main application Page-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- CSS Files -->
    <link href="css/ionic.min.css" rel="stylesheet">
    <title>Books</title>
</head>
<body ng-app="bookModule" ng-controller="ApplicationController">
<!--Create Ionic Navigation view with side menu -->
<ion-nav-view></ion-nav-view>

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="contentView"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Books</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
             <!--Configure Menu Items and their corresponding routes -->
                <a href="#/" class="item" menu-close>Book List</a>
                <a href="#" ng-click="bookDetailsPopup()" class="item" menu-close>Book Details</a>
                <a href="#/help"class="item" menu-close>Help</a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<!--  Libraries -->
<script src="js/lib/ionic.bundle.min.js"></script>
<!-- App js files -->
<script src="js/app/book.js"></script>
<script src="js/app/bookService.js"></script>
<script src="js/app/applicationController.js"></script>
<script src="js/app/booksController.js"></script>
<script src="js/app/bookController.js"></script>
</body>
</html>