li.list-group-item{
	cursor:pointer !important;
	cursor: hand !important;

}
td{
	word-wrap:break-word !important;
}
.header h2{
	text-align: center;
}
.glyphicon{
	font-size: large;
	cursor: hand !important;
}
.main-container{
	margin-top:20px;
}
.main-container .row{
	margin-top: 20px;
}
body{
	font-size: large;
	overflow: hidden;
}
h3{
	font-size: x-large;
}
h2{
	font-size: xx-large;
}
.books{
	margin-top:20px;
	height: 74vh;
	overflow: auto;
}

.book{
	height: 74vh;
	overflow: auto;
}
.table>tbody>tr.info>td{
word-wrap: break-word;
}
