<div class="header">

    <h2>Books</h2>
</div>
<div ng-show="showParentView()" class="books col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ul class="list-group">
        <li class="list-group-item" ui-sref="books.book({id:item.id})" ng-repeat="item in books">{{item.name}}
        </li>
    </ul>
</div>
<div ui-view="bookView"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ></div>