<div>
    <a type="button" class="btn btn-default" ui-sref="books" ng-show="!showParentView()">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </a>
</div>
<div>
    <h3>{{book.name}}</h3>

    <div class="book">
        <table class="table">
            <tbody>
            <tr class="info">
                <td>Author</td>
                <td>{{book.author}}</td>
            </tr>
            <tr class="info">
                <td>Series</td>
                <td>{{book.series}}</td>
            </tr>

            <tr class="info">
                <td>Pages</td>
                <td>{{book.pages}}</td>
            </tr>

            <tr class="info">
                <td>Genre</td>
                <td>{{book.genre}}</td>
            </tr>

            <tr class="info">
                <td>Price</td>
                <td>{{book.price}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

